html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.ShapkaAdmin {
    display: inline-block;
    width: 100vw;
    height: 3.5vw;
    background: #E83939;
    display: flex; /* Делаем flex-контейнер */
    flex-direction: row; /* Располагаем элементы в строку */
}

@font-face {
    font-family: 'DaysFronts';
    src: url('/Fronts/DAYS.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.TextShapka {
    width: 7vw;
    vertical-align: central;
    font-family: DaysFronts;
    color: white;
    font-size: 0.6vw;
    margin: 1vw 0.1vw;
}

.TextShapkaTwo {
    width: 7vw;
    vertical-align: central;
    font-family: DaysFronts;
    color: white;
    font-size: 0.6vw;
    margin: 1vw 0.1vw;
}

.lineWhite {
    width: 0.1vw;
    height: 2.5vw;
    background: white;
    margin: 0.5vw 0vw;
    border-radius: 0.5vw;
}




.DivImageContackt {
    margin: 0vw 0vw 1vw 52vw;
    display: flex; /* Делаем flex-контейнер */
    flex-direction: row; /* Располагаем элементы в строку */
}

.ContactImage {
    margin: 0.7vw 1vw;
    width: auto; /* Автоматическая высота */
    height: 2vw; /* Ограничение по высоте */
}



.LogoContainer {
    vertical-align: central;
    position: absolute;
    width: 100vw;
    text-align: center;
}

.LogoImage {
    width: auto; /* Автоматическая высота */
    height: 2.5vw; /* Ограничение по высоте */
}

.Banner {
    margin: 0vw 0vw;
    background-image: url('/Image/backBanner.png'); /* Фон */
    background-size: cover; /* Растягиваем изображение */
    background-position: center; /* Центрируем */
    width: 100vw;
    height: 3.5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center; /* Вертикальное центрирование */
}

.TextBanner {
    font-size: 2vw;
    font-family: DaysFronts;
    color: white;
    text-align: center;
}

.VhodAdmin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center; /* Вертикальное центрирование */
    height: 35vh;
}

.TextVhodAdmin {
    width: 30vh;
    font-size: 1.8vh;
    font-family: DaysFronts;
    color: black;
}

.InputAdmin {
    text-align: center;
    font-family: DaysFronts;
    margin: 0vh 0vh 4vh 0vh;
    font-size: 1.8vh;
    color: black;
    height: 3.5vh;
    width: 30vh;
    border: 0.15vh solid black;
    border-radius: 1.3vh;
}

.BittonAdminVhod {
    margin: 0vh 0vh 1vh 0vh;
    font-size: 1.8vh;
    background: black;
    border-radius: 1.3vh;
    height: 3.5vh;
    width: 30vh;
    font-family: DaysFronts;
    color: white;
    text-align: center;
}

.TextFindPassword {
    text-decoration: underline;
    text-decoration-thickness: 0.2vh; /* Увеличиваем толщину линии */
    text-underline-offset: 0.2vh; /* Смещаем линию ниже */
    color: black;
    text-align: center;
    width: 30vh;
    font-family: DaysFronts;
    font-size: 1.5vh;
}

.LowerShapkaAdmin {
    background: #E83939;
    display: flex;  /*Делаем flex-контейнер */
    flex-direction: row;  /*Располагаем элементы в строку */
    height: 3.5vw;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.ImageLowerLogo {

    width: auto; /* Автоматическая высота */
    height: 2.5vw; /* Ограничение по высоте */
}

.LogoContainerLower {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center; /* Вертикальное центрирование */
    height: 3.5vw;
    vertical-align: central;
    width: 100vw;
    text-align: center;
}



.TextShapkaTwoLower {
    margin: 0.2vw 0.5vw;
    vertical-align: central;
    font-family: DaysFronts;
    color: white;
    font-size: 0.5vw;
}
.TextShapkaTwoLower {
    margin: 0.2vw 0.5vw;
    font-family: DaysFronts;
    color: white;
    font-size: 0.6vw;

}

.TextContainerLower {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; /* Горизонтальное центрирование */
  
    height: 3.5vw;
    width: 100vw;
}
.TextShapkaTwoLowerAdress {
    text-align: left;
    width: 8vw;
    margin: 0.2vw 0.5vw;
    font-family: DaysFronts;
    color: white;
    font-size: 0.6vw;
}
.TextContainerLowerAdress {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Выравниваем текст вправо */
    justify-content: center;
    height: 3.5vw;
    width: 100vw;
}

.TextContainerContact {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end; /* Выравниваем текст вправо */
    justify-content: center;
    height: 3.5vw;
}


.TextContainerMenuAdmin {
    text-align: center;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.TextMenu {
    text-align: center;
    cursor: default;
    font-family: DaysFronts;
    font-size: 1.3vw;
    margin: 0.3vw 10vw 0.3vw 0vw;
}

.ButtonDesingAdd {
    font-family: DaysFronts;
    width: 21vw;
    height: 4vw;
    background: #00660C;
    font-size: 1.3vw;
    margin: 2vw 8vw;
    color: white;
    border-radius: 1vw;
    border: none;
}


.ButtonDesingChange {
    font-family: DaysFronts;
    width: 20vw;
    height: 4vw;
    background: #A88506;
    font-size: 1.3vw;
    margin: 2vw 8vw;
    color: white;
    border-radius: 1vw;
    border: none;
}


.ButtonDesingDelete {
    font-family: DaysFronts;
    width: 20vw;
    height: 4vw;
    background: #890305;
    font-size: 1.3vw;
    margin: 2vw 8vw;
    color: white;
    border-radius: 1vw;
    border: none;
}

.ContainerImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Горизонтальное центрирование */

    text-align: center;
    height: 40vh;
    width: 40vh;
    background: #101212;
    margin: 3vw 0vw;
    border-radius: 2vh;

}

.TextAdd {
    font-family: DaysFronts;
    color: white;
    width: 40vh;
    text-align: center;
    font-size: 2.5vh;
}

.ImageStyle {
    margin: 2vh 0vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; /* Горизонтальное центрирование */
    vertical-align: central;
    text-align: center;
    height: 25vh;
    width: 25vh;
    object-fit: contain;
}

.ButtonDesingAddPicture {
    display: flex;
    justify-content: center; /* Центрирование текста по горизонтали */
    align-items: center; /* Центрирование текста по вертикали */
    text-align: center;
    font-family: DaysFronts;
    width: 20vw;
    height: 4vw;
    background: #4B5454;
    font-size: 1.3vw;
    color: white;
    border-radius: 1vw;
    border: none;
    cursor: pointer;
    position: relative; /* Добавляем позиционирование */
}

    .ButtonDesingAddPicture input {
        position: absolute; /* Абсолютное позиционирование */
        width: 100%;
        height: 100%;
        opacity: 0; /* Полностью скрываем */
        cursor: pointer;
    }

.CenterVertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center; /* Вертикальное центрирование */
    width: 100vw;
}

.TextNameService {
    margin: 3vw 0vw;
    font-family: DaysFronts;
    font-size: 1.3vw;
}

    .hotisontal{
        height: 3.5vw;
        display: flex; /* Включаем Flexbox */
        justify-content: space-between; /* Расставляем элементы по горизонтали */
        align-items: center; /* Выравниваем элементы по вертикали */
    }

.ButtonDesingSavePicture {
    margin: 0vw 3vw 3vw 2vw;
    font-family: DaysFronts;
    width: 10vw;
    height: 5vw;
    background: #00660C;
    font-size: 1.3vw;
    color: white;
    border-radius: 0.5vw;
    border: none;
}

.ButtonDesingNoSavePicture {
    margin: 0vw 3vw 3vw 0vw;
    font-family: DaysFronts;
    width: 10vw;
    height: 5vw;
    background: #890305;
    font-size: 1.3vw;
    color: white;
    border-radius: 0.5vw;
    border: none;
}

.TextError {
    color: #ff0000;
    margin: 3vw 0vw;
    font-family: DaysFronts;
    font-size: 1.3vw;
    margin: 0vw 0vw 10vw 0vw;
}

.DivService {
    display: flex; /* Включаем Flexbox */
    justify-content: space-between; /* Расставляем элементы по горизонтали */
    width: 44vw;
    height: auto;
    flex-wrap: wrap;
}

.divOneServise {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center; /* Выравниваем элементы по вертикали */
    border-radius: 0.5vw;
    margin: 4vw 0vw 0vw 0vw;
    width: 12vw;
    height: 12vw;
    background: #101212;
}

.TextServise {
    width: 12vw;
    text-align: center;
    color: white;
    font-family: DaysFronts;
    font-size: 1vw;
    text-align: center;
}

.CenterDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center; /* Выравниваем элементы по вертикали */
    width: 100vw;
}

.ImageStyleServiseAll {
    margin: 2vw 0vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; /* Горизонтальное центрирование */
    vertical-align: central;
    text-align: center;
    height: 6vw;
    width: 6vw;
    object-fit: contain;
}

.ButtonChangeServise {
    position: absolute;
    background: #0CC32A;
    border-radius: 2vw;
    width: 3vw;
    height: 3vw;
    border: none;
    margin: -1vw 0vw 0vw 10vw;

}

.ButtonDeleteServise {
    position: absolute;
    background: #E83939;
    border-radius: 2vw;
    width: 3vw;
    height: 3vw;
    border: none;
    margin: -1vw 0vw 0vw 10vw;
}


.ImageButtonChange {
    width: 1.8vw;
    height: 1.8vw;
    object-fit: contain;
}

.TextNameMiniService {
    width: 100vw;
    font-family: DaysFronts;
    color: black;
    font-size: 2.5vh;
    text-align: left;
    margin: 3vh 0vw 3vh 20vw;
}


.TextNameAddInfoServise {
    width: 100vw;
    font-family: DaysFronts;
    color: black;
    font-size: 2.5vh;
    text-align: center;
    margin: 4vh 0vw 1vh 0vw;
}

.InputNameMiniService {
    width: 80vw;
    height: auto;
    min-height: 5vh;
    background: white;
    font-family: DaysFronts;
    color: black;
    font-size: 2vh;
    border: black solid 0.2vh;
    border-radius: 1vh;
    margin: 0vh 0vw 3vh 0vw;
}

.TableBorder {
    width: 80vw;
    height: auto;
    border: black solid 0.2vh;
    border-radius: 1vh;
}

.TableBorderTr {
    width: 80vw;
    height: 5vh;
    border: black solid 0.2vh;
}

.TableBorderTd {
    width: auto;
    height: auto;
    border: black solid 0.2vh;
    text-align: center; 
}

.TableBorderTdButten {
    width: auto;
    height: auto;
    text-align: right;
}


.ButtonPlus {
    margin: 1vh 1vh 1vh 1vh;
    width: 3vh;
    height: 3vh;
    border-radius: 0.1vh;
    background: #414541;
    background-image: url('Image/plus.png');
    background-size: cover;
}

.ButtonMinus {
    margin: 1vh 1vh 1vh 1vh;
    width: 3vh;
    height: 3vh;
    border-radius: 0.1vh;
    background: #414541;
    background-image: url('Image/minus.png');
    background-size: cover;
}

.ButtonChangeServiceMini {
    margin: 1vh 1vh 1vh 1vh;
    width: 3vh;
    height: 3vh;
    border-radius: 0.1vh;
    background: #414541;
    background-image: url('Image/changeIcon.png');
    background-size: cover;
}

.divButtonTr {
    height: 5vh;
    width: 80vw;
    text-align: center;
    vertical-align: central;
}


.TableBorderPlusMinusTr {
    width: 80vw;
    height: auto;
    border-left: black solid 0.2vh;
    border-right: black solid 0.2vh;
    border-bottom: black solid 0.2vh;
    border-radius: 1vh;
}


.DivServiceHorisontal {
    display: flex; /* Включаем Flexbox */
    justify-content: space-between; /* Расставляем элементы по горизонтали */
    width: 90vw;
    height: auto;
}

.TextTable {
    font-family: DaysFronts;
    color: black;
    font-size: 2vh;
    margin: 0.5vh 0vw 0vh 5vw;
}

.TextTableMaterial {
    font-family: DaysFronts;
    color: black;
    font-size: 2vh;
}

.TextTableMaterialInput {
    font-family: DaysFronts;
    color: black;
    font-size: 1.6vh;
}


.Vertical {
    display: flex;
    flex-direction: column; /* Элементы внутри будут располагаться по вертикали */
    justify-content: center; /* Центрирует элементы по вертикали */
    align-items: center; /* Центрирует элементы по горизонтали (по необходимости) */
}

.TextMenuUser {
    width: auto; /* Ширина будет автоматически подстраиваться под содержимое */
    text-align: center;
    cursor: default;
    font-family: DaysFronts;
    font-size: 1.3vw;
    margin: 0.3vw 3vw 0.3vw 3vw;
    white-space: nowrap; /* Не переносить текст на новую строку */
    display: inline-block; /* Элемент будет занимать только ту ширину, которую ему необходимо */
}
