body {


}

@font-face {
    font-family: 'DaysFronts';
    src: url('/Fronts/DAYS.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.UsersBaner {
    height: auto;
    width: 100vw;

}

.Vertical {
    display: flex;
    flex-direction: column; /* Элементы внутри будут располагаться по вертикали */
    justify-content: center; /* Центрирует элементы по вертикали */
    align-items: center; /* Центрирует элементы по горизонтали (по необходимости) */
}

.TextCenter{
    margin: 2vw 0vw;
    font-size: 2vw;
    font-family: DaysFronts;
    text-align: center;
}



.DivSenter {
    width: 100vw;
    margin: 3vw 0;
    text-align: center;
    display: flex; /* Для использования flexbox */
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    height: 100vh; /* Устанавливаем высоту контейнера на весь экран */
}

.NameMiniService {
    height: auto;
    font-family: DaysFronts;
    font-size: 2vh;
    margin: 5vh 0vw 2.5vh 0vw;
    text-align: center;
}


.TextTableCondition {
    width: 80vw;
    text-align: left;
    font-family: DaysFronts;
    font-size: 1.3vh;
    font-style: revert;
}


.TextTableUser {
    font-family: DaysFronts;
    font-size: 1.5vh;
}


.divUsersColumn {
    
    display: flex; /* Располагает дочерние элементы в строку */
}


.ColumnUserCalculatorAmdButton{
    width: 50vw;
    height: 50vw;
    text-align: center;
}


.ButtonUsers {
    margin: 2.5vh 0vw 0vh 0vw;
    border-radius: 2vw;
    background: #000000;
    width: 25vw;
    height: 4vw;
    font-family: DaysFronts;
    font-size: 1.5vh;
    color: white;
    text-align: center;
}


.DivCalculator {
    text-align: center;
    margin: 2.5vh 0vw 0vh 10vw;
    width: 30vw;
    height: 40vw;
    border: 0.2vw solid #000000;
    border-radius: 0.5vw;
}

.TextCalculator {
    margin: 3vh 0vw 1vh 0vw;
    font-family: DaysFronts;
    font-size: 2vh;
    text-align: center;
}

.inputUser {
    font-family: DaysFronts;
    font-size: 2vh;
    border-radius: 0.5vw;
    width: 20vw;
}


.SelectedUser {
    font-family: DaysFronts;
    font-size: 1.8vh;
    border-radius: 0.5vw;
    width: 20vw;
    height: 2vw;
}


.backRequst {
    width: 100vw;
    height: 150vh;
    background-image: url("/Image/Baners/backgroundRequst.png");
    background-size: cover; /* Чтобы картинка масштабировалась под блок */
    background-position: center; /* Чтобы она была по центру */
}
