@inherits LayoutComponentBase

<link rel="stylesheet" href="/userFooters.css">

<div class="main-container">
    <Kopigrad.Components.Layout.All.NavMenu />

    @Body
    <div class="content"></div>

</div>
