@inherits LayoutComponentBase

@using MudBlazor

<div class="main-container">
    <Kopigrad.Components.Layout.All.NavMenu />
    <Kopigrad.Components.Layout.Admin.AdminListMenu />
    @Body
    <div class="content"></div>

</div>

