@rendermode InteractiveServer

<head>
    <link rel="stylesheet" href="/userFooters.css">
</head>



<div class="footer">
    <div class="footer-column left">
        <div class="footer-text">+7 (902) 587-66-97</div>
        <div class="footer-text">+7 (343) 20-666-97</div>
        <div class="footer-text">copygrad96@mail.ru</div>
        <div class="footer-text">Белореченская 17/1</div>
    </div>

    <div class="footer-column center">
        <img class="logo-image" src="/Image/logoKopigrad.png" alt="Копиград логотип" />
    </div>

    <div class="footer-column right">
        <!-- Иконка Email -->
        <a href="mailto:copygrad96@mail.ru" target="_blank" title="Написать на почту">
            <img class="contact-icon" src="/Image/email.png" alt="Почта" />
        </a>

        <!-- Иконка WhatsApp -->
        <a href="https://wa.me/79025876697" target="_blank" title="Написать в WhatsApp">
            <img class="contact-icon" src="/Image/watsap.png" alt="WhatsApp" />
        </a>

        <!-- Иконка Telegram -->
        <a href="https://t.me/copygrad" target="_blank" title="Открыть Telegram">
            <img class="contact-icon" src="/Image/telegram.png" alt="Telegram" />
        </a>
    </div>
</div>


@* <style>
    .logo-container {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; /* Растягиваем контейнер, чтобы логотип был по центру */
    }

    .head {
        width: 100vw;
        background: #E83939;
        color: white;
        text-align: center;
        height: 3.5vw;
        display: flex; /* Включаем Flexbox */
        justify-content: space-between; /* Расставляем элементы по горизонтали */
        align-items: center; /* Выравниваем элементы по вертикали */
    }

    .hotisontal{
        height: 3.5vw;
        display: flex; /* Включаем Flexbox */
        justify-content: space-between; /* Расставляем элементы по горизонтали */
        align-items: center; /* Выравниваем элементы по вертикали */
    }
</style> *@