

<head>
    <link rel="stylesheet" href="admin.css">
</head>



    <div class="footer">

    <div class="hotisontal">
        <div>
            <h1 class="TextShapka">+7 (902) 587-66-97</h1>
            <h1 class="TextShapkaTwo">+7 (343) 20-666-97</h1>
        </div>

         <div class="lineWhite"></div>

         <div>
            <h1 class="TextShapka">сopygrad96@mail.ru</h1>
            <h1 class="TextShapkaTwo">Белореченская 17/1</h1>
         </div>

    </div>




    <div class="logo-container">
        <img class="LogoImage" src="/Image/logoKopigrad.png" />
    </div>



    <div >
        <img class="ContactImage" src="/Image/email.png" />
        <img class="ContactImage" src="/Image/watsap.png" />
        <img class="ContactImage" src="/Image/telegram.png" />
    </div>

    </div>

<style>
    .logo-container {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; /* Растягиваем контейнер, чтобы логотип был по центру */
    }

    .head {
        width: 100vw;
        background: #E83939;
        color: white;
        text-align: center;
        height: 3.5vw;
        display: flex; /* Включаем Flexbox */
        justify-content: space-between; /* Расставляем элементы по горизонтали */
        align-items: center; /* Выравниваем элементы по вертикали */
    }

    .hotisontal{
        height: 3.5vw;
        display: flex; /* Включаем Flexbox */
        justify-content: space-between; /* Расставляем элементы по горизонтали */
        align-items: center; /* Выравниваем элементы по вертикали */
    }
</style>