@page "/CreateRequest"
@inject NavigationManager Navigation
@rendermode InteractiveServer
@layout Layout.Menu.MenuUser;

<div>
    <head>
        <link rel="stylesheet" href="users.css">
        <link rel="stylesheet" href="admin.css">
    </head>

    <div class="Banner">

        <h5 class="TextBanner">Оформление заявки</h5>
    </div>
</div>


<div class="backRequst">

</div>

@code {

}
