@page "/AddInfoService/{id:int}"
@inject NavigationManager Navigation

@rendermode InteractiveServer

<div class="Banner">
    <h5 class="TextBanner">Редактирование содержания @nameBanner</h5>
</div>
<div class="CenterVertical">

    <h1 class="TextNameAddInfoServise">Услуги</h1>

    <table class="TableBorder">

        @foreach(var miniservice in miniservices)
        {
            <tr class="TableBorderTr">

                <td>

                    <h1 class="TextTable">@miniservice.NameMiniServise</h1>
                </td>

                <td class="TableBorderTdButten">
                    <button @onclick="() => ClickChange(miniservice.IdMiniService)" class="ButtonChangeServiceMini">
                    </button>
                    <button @onclick="() => ClickDelete(miniservice.IdMiniService)" class="ButtonMinus">
                    </button>
                </td>
            </tr>
        }


    </table>


    <button @onclick="ClickPlus" class="ButtonPlus">
    </button>

    <h1 class="TextNameAddInfoServise">Общая информация</h1>


    <h1 class="TextNameMiniService">Условия</h1>
    <input @bind="condition" class="InputNameMiniService" />


    <h1 class="TextNameMiniService">Срок</h1>

    <input @bind="time" class="InputNameMiniService" />

    <div class="TextContainerMenuAdmin">
        <button  class="ButtonDesingSavePicture">Cохранить изменения</button>

        <button @onclick="ClickExit" class="ButtonDesingNoSavePicture">Выход без сохранения</button>

    </div>




</div>






@code {


    [Parameter]
    public int? id { get; set; }

    string nameBanner = "";
    string condition = "";
    string time = "";
    List<Models.Miniservice> miniservices = new List<Models.Miniservice>(); 

    protected override void OnInitialized()
    {
        Classes.Admin.Servise.ManagmentServiseClasses managmentServise = new Classes.Admin.Servise.ManagmentServiseClasses();
        Classes.Admin.Servise.ManagmentMiniService managmentMiniService = new Classes.Admin.Servise.ManagmentMiniService();
        nameBanner = managmentServise.GetName(Convert.ToInt32(id));
        miniservices = managmentMiniService.GetMiniServices(Convert.ToInt32(id));

    }


    public void ClickPlus()
    {
        Navigation.NavigateTo($"/AddMiniServiceInfo/{id}");
    }

    public void ClickChange(int idMiniServie)
    {
        Navigation.NavigateTo($"/ChangeMiniServiceInfo/{idMiniServie}");
    }

    public void ClickDelete(int idMiniServie)
    {
        Classes.Admin.Servise.ManagmentMiniService managmentMiniService = new Classes.Admin.Servise.ManagmentMiniService();
        managmentMiniService.DeleteMiniService(idMiniServie);

        miniservices.Clear();
        miniservices = managmentMiniService.GetMiniServices(Convert.ToInt32(id));
        StateHasChanged();
    }


    public void ClickExit()
    {
        Navigation.NavigateTo("/Servise");
    }
}