@page "/ServiseAddProduct"
@layout Layout.Menu.MenuAdmin;

<div class="Banner">
    <h5 class="TextBanner">Добавление услуги</h5>
</div>

<div class="CenterVertical">
    <div class="ContainerImage"></div>
    <button class="ButtonDesingAddPicture">Прикрепить иконку</button>
    <h5 class="TextNameService">Название услуги:</h5>
    <input  class="InputAdmin" />

    <div class="TextContainerMenuAdmin">
        <button class="ButtonDesingSavePicture">Cохранить</button>

        <button class="ButtonDesingNoSavePicture">Выход без сохранения</button>

    </div>
</div>


@code {

}
