@page "/Admin"
@layout Layout.Menu.MenuAdminVhod;
@using Kopigrad.Components.Layout
@inject Models.KopigradContext DbContext
@rendermode InteractiveServer
@inject NavigationManager Navigation
<PageTitle>Admin</PageTitle>
<head>
    <link rel="stylesheet" href="/users.css">
    <link rel="stylesheet" href="/admin.css">
</head>

<div class="Banner">
    <h5 class="TextBanner">Панель админа</h5>
</div>

<div class="VhodAdmin">
    <h5 class="TextVhodAdmin">Email:</h5>
    <input type="email" @bind="email" class="InputAdmin" />
    <h5 class="TextVhodAdmin">Пароль:</h5>
    <input type="password" @bind="password" class="InputAdmin" />
    <button @onclick="onClickVhod" class="BittonAdminVhod">Войти</button>
    <a href="/Register" class="TextFindPassword">Зарегистироваться</a>
    <h5 class="TextFindPassword">Забыли пароль</h5>
    <h2 class="TextFindPassword" style="color: red">@error</h2>
</div>

@code{
    string error = "";
    string email = "";
    string password = "";

    Classes.Autorisation.AutorisationClasses autorisationClasses = new Classes.Autorisation.AutorisationClasses();

    public void onClickVhod(){

        string textEr = autorisationClasses.CheakPassword(email, password);

        if(textEr.Length == 0)
        {

            Navigation.NavigateTo("/Servise");
        }

        else
        {
            error = textEr;
        }

    }
}