@page "/Register"
@layout Layout.Menu.MenuAdminVhod;
@using Kopigrad.Components.Layout
@inject Models.KopigradContext DbContext
@rendermode InteractiveServer
@inject NavigationManager Navigation
<PageTitle>Admin</PageTitle>
<head>
    <link rel="stylesheet" href="/users.css">
    <link rel="stylesheet" href="/admin.css">
</head>

<div class="Banner">
    <h5 class="TextBanner">Панель админа</h5>
</div>

<div class="VhodAdmin">
    <h5 class="TextVhodAdmin">Имя:</h5>
    <input  @bind="name" class="InputAdmin" />
    <h5 class="TextVhodAdmin">Email:</h5>
    <input type="email" @bind="email" class="InputAdmin" />
    <h5 class="TextVhodAdmin">Пароль:</h5>
    <input type="password" @bind="password" class="InputAdmin" />
    <h5 class="TextVhodAdmin">Секретный пароль:</h5>
    <input type="password" @bind="SecretPassword" class="InputAdmin" />
    <button @onclick="onClickVhod"  class="BittonAdminVhod">Зарегистироваться</button>
    <a href="/Admin" class="TextFindPassword">Назад</a>
    <h2 class="TextFindPassword" style="color: red">@error</h2>
</div>


@code {
    string error = "";

    string name = "";
    string email = "";
    string password = "";
    string SecretPassword = "";

    Classes.Autorisation.AutorisationClasses autorisationClasses = new Classes.Autorisation.AutorisationClasses();

    public void onClickVhod()
    {

        autorisationClasses.register(name, email, password, SecretPassword);
        Navigation.NavigateTo("/Admin");
    }
}