<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Kopigrad.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="~/admin.css?v=1.0.1" />
    <link rel="stylesheet" href="~/users.css?v=1.0.1" />
    <link rel="stylesheet" href="~/orders.css?v=1.0.1" />



    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>


    <script>
        window.getCookie = function (name) {
            let matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : null;
        };
    </script>

    <script>
        window.saveState = function (key, value) {
            localStorage.setItem(key, value);
        };

        window.loadState = function (key) {
            return localStorage.getItem(key);
        };
    </script>

</body>

</html>
