@rendermode InteractiveServer
@inject NavigationManager Navigation

<div class="TextContainerMenuAdmin">
    <h5 @onclick="Servise" class="TextMenu" style="margin: 0 2vw;">Услуги</h5>
    <h5 @onclick="Material" class="TextMenu" style="margin: 0 2vw;">Материалы</h5>
    <h5 @onclick="Requst" class="TextMenu" style="margin: 0 2vw;">Заказы</h5>
    <h5 @onclick="Pdf" class="TextMenu" style="margin: 0 2vw;">PDF расчет</h5>
    <h5 @onclick="Static" class="TextMenu" style="margin: 0 2vw;">Статистика</h5>
    <h5 @onclick="Files" class="TextMenu" style="margin: 0 2vw;">Управление файлами</h5>
    <h5 @onclick="Exit" class="TextMenu" style="margin: 0 2vw;">Выйти</h5>
</div>

@code{
    public void Servise(){
        Navigation.NavigateTo("/Servise");
    }

    public void Requst()
    {
        Navigation.NavigateTo("/Requst");
    }

    public void Pdf()
    {
        Navigation.NavigateTo("/Pdf");
    }


    public void Material ()
    {
        Navigation.NavigateTo("/AddMaterial");
    }


    public void Static()
    {
        Navigation.NavigateTo("/Static");
    }

    public void Files()
    {
        Navigation.NavigateTo("/FileManager");
    }

    public void Exit()
    {
        Navigation.NavigateTo("/doLogout", forceLoad: true);
    }
}