@rendermode InteractiveServer
@inject NavigationManager Navigation

<div class="TextContainerMenuAdmin">
    <h5 @onclick="Servise" class="TextMenu">Услуги</h5>
    <h5 @onclick="Material" class="TextMenu">Материалы</h5>
    <h5 @onclick="Requst" class="TextMenu">Заявки</h5>
    <h5 @onclick="Pdf" class="TextMenu">PDF расчет</h5>
    <h5 @onclick="Static" class="TextMenu">Статистика</h5>
    <h5 @onclick="Files" class="TextMenu">Управление файлами</h5>
</div>

@code{
    public void Servise(){
        Navigation.NavigateTo("/Servise");
    }

    public void Requst()
    {
        Navigation.NavigateTo("/Requst");
    }

    public void Pdf()
    {
        Navigation.NavigateTo("/Pdf");
    }


    public void Material ()
    {
        Navigation.NavigateTo("/AddMaterial");
    }


    public void Static()
    {
        Navigation.NavigateTo("/Static");
    }

    public void Files()
    {
        Navigation.NavigateTo("/FileManager");
    }
}