@rendermode InteractiveServer
@inject NavigationManager Navigation

<div class="TextContainerMenuAdmin">
    <h5 @onclick="Servise" class="TextMenu" style="margin: 0 2vw;">Услуги</h5>

    <h5 @onclick="Requst" class="TextMenu" style="margin: 0 2vw;">Заказы</h5>

    <h5 @onclick="Exit" class="TextMenu" style="margin: 0 2vw;">Выйти</h5>
</div>

@code{
    public void Servise(){
        Navigation.NavigateTo("/Servise");
    }

    public void Requst()
    {
        Navigation.NavigateTo("/Requst");
    }


    public void Exit()
    {
        Navigation.NavigateTo("/doLogout", forceLoad: true);
    }
}